@use "01-variables" as v;

body.light {
  background: v.$light-background-color;
  color: v.$light-text-color;
  border-color: v.$light-border-color;

  .help-button {
    background-color: v.$light-background-color-suppressed;
    color: v.$light-text-color-suppressed;

    a {
      color: v.$light-text-color-suppressed;
      text-decoration: none;
    }

    a:hover {
      color: v.$light-text-color-suppressed;
      text-decoration: none;
    }
  }

  .default-border-color {
    border-color: v.$light-border-color;
  }

  .link,a {
    color: v.$light-link-color;
  }

  .link:hover,a:hover {
    color: v.$light-link-color-hover;
  }

  .filter-button {
    color: v.$light-text-color;
    border-color: v.$light-border-color;
    text-decoration: none;
  }

  .filter-button:hover {
    color: v.$light-text-color;
    border-color: v.$light-border-color;
    text-decoration: none;
  }

  .filter-rule-section-include {
    color: v.$light-border-color-success;
    border-color: v.$light-border-color-success;
    background-color: v.$light-background-color-success;
  }

  .filter-rule-section-exclude {
    color: v.$light-border-color-failure;
    border-color: v.$light-border-color-failure;
    background-color: v.$light-background-color-failure;
  }

  .text-success {
    @extend .default-border-color;
    color: v.$light-text-color-success;
  }

  .text-failure {
    @extend .default-border-color;
    color: v.$light-text-color-failure;
  }

  .text-abort {
    @extend .default-border-color;
    color: v.$light-text-color-abort;
  }

  .text-suppressed {
    @extend .default-border-color;
    color: v.$light-text-color-suppressed
  }

  .mission-success {
    background-color: v.$light-background-color-success;
    border: 0 v.$border-style-normal v.$light-border-color-success;
    opacity: v.$light-thread-bar-opacity
  }

  .mission-failure {
    background-color: v.$light-background-color-failure;
    border: 0 v.$border-style-normal v.$light-border-color-failure;
    opacity: v.$light-thread-bar-opacity
  }

  .mission-abort {
    background-color: v.$light-background-color-abort;
    border: 0 v.$border-style-normal v.$light-border-color-abort;
    opacity: v.$light-thread-bar-opacity
  }

  .mission-suppressed {
    background-color: v.$light-background-color-suppressed;
    border: 0 v.$border-style-normal v.$light-border-color-suppressed;
    opacity: v.$light-thread-bar-opacity
  }

  .countdown-success {
    @extend .mission-success;
    background-color: v.$light-background-color-success-alt
  }

  .countdown-failure {
    @extend .mission-failure;
    background-color: v.$light-background-color-failure-alt
  }

  .countdown-abort {
    @extend .mission-abort;
    background-color: v.$light-background-color-abort-alt
  }

  .countdown-suppressed {
    @extend .mission-suppressed;
    background-color: v.$light-background-color-suppressed-alt
  }

  .detail-view {

    .result-success {
      background-color: v.$light-background-color-success-detail;
    }

    .result-failure {
      background-color: v.$light-background-color-failure-detail;
    }

    .result-aborted {
      background-color: v.$light-background-color-abort-detail;
    }

    .result-suppressed {
      background-color: v.$light-background-color-suppressed-detail;
    }

    .result-empty {
      //none
    }

    .result-success .link,
    .result-failure .link,
    .result-aborted .link,
    .result-suppressed .link {
      color: v.$light-link-color-over-background;
    }

    .result-success .link:hover,
    .result-failure .link:hover,
    .result-aborted .link:hover,
    .result-suppressed .link:hover {
      color: v.$light-link-color-hover-over-background;
    }

    .class-row {

      .exec-success.focus {
        background-color: v.$light-background-color-success-detail;
        color: v.$light-exec-text-color-over-background;
      }

      .exec-failure.focus {
        background-color: v.$light-background-color-failure-detail;
        color: v.$light-exec-text-color-over-background;
      }

      .exec-abort.focus {
        background-color: v.$light-background-color-abort-detail;
        color: v.$light-exec-text-color-over-background;
      }

      .exec-suppress.focus {
        background-color: v.$light-background-color-suppressed-detail;
        color: v.$light-exec-text-color-over-background;
      }

      .exec-success:before {
        color: v.$light-text-color-success-prominent-over-background;
      }

      .exec-failure:before {
        color: v.$light-text-color-failure-over-background;
      }

      .exec-abort:before {
        color: v.$light-text-color-abort-over-background;
      }

      .exec-suppress:before {
        color: v.$light-text-color-suppressed-over-background;
      }
    }
  }

  .summary-view {
    .summary-success {
      color: v.$light-text-color-success-prominent;
    }

    .summary-failure {
      color: v.$light-text-color-failure;
    }

    .summary-abort {
      color: v.$light-text-color-abort;
    }

    .summary-suppress {
      color: v.$light-text-color-suppressed;
    }
  }
}

body.dark {
  background: v.$dark-background-color;
  color: v.$dark-text-color;
  border-color: v.$dark-border-color;


  .help-button {
    background-color: v.$dark-background-color-suppressed-alt;
    color: v.$dark-text-color-suppressed;

    a {
      color: v.$dark-text-color-suppressed;
      text-decoration: none;
    }

    a:hover {
      color: v.$dark-text-color-suppressed;
      text-decoration: none;
    }
  }

  .default-border-color {
    border-color: v.$dark-border-color;
  }

  .link,a {
    color: v.$dark-link-color;
  }

  .link:hover,a:hover {
    color: v.$dark-link-color-hover;
  }

  input {
    background-color: v.$dark-input-color;
  }

  .filter-button {
    color: v.$dark-text-color;
    border-color: v.$dark-border-color;
    text-decoration: none;
  }

  .filter-button:hover {
    color: v.$dark-text-color;
    border-color: v.$dark-border-color;
    text-decoration: none;
  }

  .filter-rule-section-include {
    color: v.$dark-border-color-success;
    border-color: v.$dark-border-color-success;
    background-color: v.$dark-background-color-success;
  }

  .filter-rule-section-exclude {
    color: v.$dark-border-color-failure;
    border-color: v.$dark-border-color-failure;
    background-color: v.$dark-background-color-failure;
  }

  .text-success {
    @extend .default-border-color;
    color: v.$dark-text-color-success;
  }

  .text-failure {
    @extend .default-border-color;
    color: v.$dark-text-color-failure;
  }

  .text-abort {
    @extend .default-border-color;
    color: v.$dark-text-color-abort;
  }

  .text-suppressed {
    @extend .default-border-color;
    color: v.$dark-text-color-suppressed
  }

  .mission-success {
    background-color: v.$dark-background-color-success;
    border: 0 v.$border-style-normal v.$dark-border-color-success;
    opacity: v.$dark-thread-bar-opacity
  }

  .mission-failure {
    background-color: v.$dark-background-color-failure;
    border: 0 v.$border-style-normal v.$dark-border-color-failure;
    opacity: v.$dark-thread-bar-opacity
  }

  .mission-abort {
    background-color: v.$dark-background-color-abort;
    border: 0 v.$border-style-normal v.$dark-border-color-abort;
    opacity: v.$dark-thread-bar-opacity
  }

  .mission-suppressed {
    background-color: v.$dark-background-color-suppressed;
    border: 0 v.$border-style-normal v.$dark-border-color-suppressed;
    opacity: v.$dark-thread-bar-opacity
  }

  .countdown-success {
    @extend .mission-success;
    background-color: v.$dark-background-color-success-alt
  }

  .countdown-failure {
    @extend .mission-failure;
    background-color: v.$dark-background-color-failure-alt
  }

  .countdown-abort {
    @extend .mission-abort;
    background-color: v.$dark-background-color-abort-alt
  }

  .countdown-suppressed {
    @extend .mission-suppressed;
    background-color: v.$dark-background-color-suppressed-alt
  }

  .detail-view {

    .result-success {
      background-color: v.$dark-background-color-success-detail;
      color: v.$dark-exec-text-color-over-background;
      border-color: v.$dark-border-color-over-background;
    }

    .result-failure {
      background-color: v.$dark-background-color-failure-detail;
      color: v.$dark-exec-text-color-over-background;
      border-color: v.$dark-border-color-over-background;
    }

    .result-aborted {
      background-color: v.$dark-background-color-abort-detail;
      color: v.$dark-exec-text-color-over-background;
      border-color: v.$dark-border-color-over-background;
    }

    .result-suppressed {
      background-color: v.$dark-background-color-suppressed-detail;
      color: v.$dark-exec-text-color-over-background;
      border-color: v.$dark-border-color-over-background;
    }

    .result-empty {
      //none
    }

    .exec-title.result-success,
    .exec-title.result-failure,
    .exec-title.result-aborted,
    .exec-title.result-suppressed {
      border-left-color: v.$dark-border-color;
    }

    .result-success .link,
    .result-failure .link,
    .result-aborted .link,
    .result-suppressed .link {
      color: v.$dark-link-color-over-background;
    }

    .result-success .link:hover,
    .result-failure .link:hover,
    .result-aborted .link:hover,
    .result-suppressed .link:hover {
      color: v.$dark-link-color-hover-over-background;
    }

    .class-row {
      .exec-success.focus {
        background-color: v.$dark-background-color-success-detail;
        color: v.$dark-exec-text-color-over-background;
        border-color: v.$dark-border-color-over-background;
      }

      .exec-failure.focus {
        background-color: v.$dark-background-color-failure-detail;
        color: v.$dark-exec-text-color-over-background;
        border-color: v.$dark-border-color-over-background;
      }

      .exec-abort.focus {
        background-color: v.$dark-background-color-abort-detail;
        color: v.$dark-exec-text-color-over-background;
        border-color: v.$dark-border-color-over-background;
      }

      .exec-suppress.focus {
        background-color: v.$dark-background-color-suppressed-detail;
        color: v.$dark-exec-text-color-over-background;
        border-left-color: v.$dark-border-color-over-background;
        border-top-color: v.$dark-border-color-over-background;
        border-bottom-color: v.$dark-border-color-over-background;
        border-right-color: v.$dark-border-color;
      }

      .exec-success:before {
        color: v.$dark-text-color-success-prominent;
      }
      .exec-success.focus:before {
        color: v.$dark-text-color-success-prominent-over-background;
      }

      .exec-failure:before {
        color: v.$dark-text-color-failure;
      }
      .exec-failure.focus:before {
        color: v.$dark-text-color-failure-over-background;
      }

      .exec-abort:before {
        color: v.$dark-text-color-abort;
      }
      .exec-abort.focus:before {
         color: v.$dark-text-color-abort-over-background;
      }

      .exec-suppress:before {
        color: v.$dark-text-color-suppressed;
      }
      .exec-suppress.focus:before {
        color: v.$dark-text-color-suppressed-over-background;
      }
    }
  }

  .summary-view {
    .summary-success {
      color: v.$dark-text-color-success-prominent;
    }

    .summary-failure {
      color: v.$dark-text-color-failure;
    }

    .summary-abort {
      color: v.$dark-text-color-abort;
    }

    .summary-suppress {
      color: v.$dark-text-color-suppressed;
    }
  }
}
