@import "01-variables";

body .root-container .summary-view {
  position: relative;
  margin-bottom: $padding-xl;

  .result-summary {
    margin-left: auto;
    margin-right: auto;
  }

  .col-sum-time,
  .col-sum-count,
  .col-sum-name {
    text-align: center;
  }
}

@media only screen and (max-width: $break-point-medium-screen-width-max) {
  body .root-container {
    $root-width: $break-point-medium-root-width;
    $exec-time-width: calc($root-width / 8);
    $exec-stat-width: calc($root-width / 12);
    $exec-title-width: calc($root-width / 8);

    .summary-view {

      .col-sum-name, .summary-name {
        width: $exec-title-width;
        max-width: $exec-title-width;
        padding: $padding-normal 0 $padding-normal $padding-normal;
      }

      .col-sum-time, .sum-time {
        width: $exec-time-width;
        max-width: $exec-time-width;
        padding: $padding-normal 0;
      }

      .col-sum-count, .sum-stat {
        width: $exec-stat-width;
        max-width: $exec-stat-width;
        padding: $padding-normal 0;
      }
    }
  }
}

@media only screen and (min-width: $break-point-large-screen-width-min) and (max-width: $break-point-large-screen-width-max) {
  body .root-container {
    $root-width: $break-point-large-root-width;
    $exec-time-width: calc($root-width / 14);
    $exec-stat-width: calc($root-width / 18);
    $exec-title-width: calc($root-width / 14);

    .summary-view {

      .col-sum-name, .summary-name {
        width: $exec-title-width;
        max-width: $exec-title-width;
        padding: $padding-normal 0 $padding-normal $padding-normal;
      }

      .col-sum-time, .sum-time {
        width: $exec-time-width;
        max-width: $exec-time-width;
        padding: $padding-normal 0;
      }

      .col-sum-count, .sum-stat {
        width: $exec-stat-width;
        max-width: $exec-stat-width;
        padding: $padding-normal 0;
      }
    }
  }
}

@media only screen and (min-width: $break-point-xl-screen-width-min) {
  body .root-container {
    $root-width: $break-point-xl-root-width;
    $exec-time-width: calc($root-width / 15);
    $exec-stat-width: calc($root-width / 20);
    $exec-title-width: calc($root-width / 15);

    .summary-view {

      .col-sum-name, .summary-name {
        width: $exec-title-width;
        max-width: $exec-title-width;
        padding: $padding-normal 0 $padding-normal $padding-normal;
      }

      .col-sum-time, .sum-time {
        width: $exec-time-width;
        max-width: $exec-time-width;
        padding: $padding-normal 0;
      }

      .col-sum-count, .sum-stat {
        width: $exec-stat-width;
        max-width: $exec-stat-width;
        padding: $padding-normal 0;
      }
    }
  }
}
