@use "01-variables" as v;

body .theme-toggle-container {
  position: relative;
  display: block;
}

body a#theme-toggle {
  font-size: v.$font-size-normal;
  vertical-align: middle;
  right: 0;
  position: absolute;
  padding: v.$padding-small;
  width: v.$font-size-normal * 3;
  height: 16px;
  display: inline-block;
  border-radius: v.$line-height-normal * 0.75;
  text-decoration: none;
}

body.light {
  a#theme-toggle {
    color: v.$light-text-color;
    border: v.$border-width-normal v.$border-style-normal v.$light-border-color;
    background: v.$light-background-color;
    text-align: left;
  }

  a#theme-toggle:hover {
    box-shadow: 0 0 10px 10px v.$dark-background-color;
    color: v.$dark-text-color;
    background: v.$dark-background-color;
    border-color: v.$dark-border-color;
    text-decoration: none;
  }
}

body.dark {
  a#theme-toggle {
    color: v.$dark-text-color;
    border: v.$border-width-normal v.$border-style-normal v.$dark-border-color;
    background: v.$dark-background-color;
    text-align: right;
  }

  a#theme-toggle:hover {
    box-shadow: 0 0 10px 10px v.$light-background-color;
    color: v.$light-text-color;
    background: v.$light-background-color;
    border-color: v.$light-border-color;
    text-decoration: none;
  }
}
