@use "01-variables" as v;
@media print {
  body {
    background: v.$print-background-color;
    color: v.$print-text-color !important;
    border-color: v.$print-border-color !important;
  }

  .help-button {
    display: none !important;
  }

  a.link {
    display: none !important;
  }

  .details-action a {
    display: none !important;
  }

  .filter-inputs {
    display: none !important;
  }

  .exec-stat:before {
    display: none !important;
  }

  .detail-view {
    display: none !important;
  }

  .log-view {
    display: block !important;
  }

  .default-border-color {
    border-color: v.$print-border-color !important;
  }

  .logo {
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }

  body a#theme-toggle {
    display: none;
  }

  .text-success {
    @extend .default-border-color;
    color: v.$print-text-color !important;
  }

  .text-failure {
    @extend .default-border-color;
    color: v.$light-text-color-failure !important;
  }

  .text-abort {
    @extend .default-border-color;
    color: v.$light-text-color-abort !important;
  }

  .text-suppressed {
    @extend .default-border-color;
    color: v.$light-text-color-suppressed !important;
  }

  body a {
    color: v.$light-link-color !important;
  }

  body a:hover {
    color: v.$light-link-color-hover !important;
  }

  .mission-success {
    border: v.$border-width-prominent-print v.$border-style-normal-print v.$light-border-color-success !important;
    opacity: v.$print-opacity !important;
  }

  .mission-failure {
    border: v.$border-width-prominent-print v.$border-style-normal-print v.$light-border-color-failure !important;
    opacity: v.$print-opacity !important;
  }

  .mission-abort {
    border: v.$border-width-prominent-print v.$border-style-normal-print v.$light-border-color-abort !important;
    opacity: v.$print-opacity !important;
  }

  .mission-suppressed {
    border: v.$border-width-prominent-print v.$border-style-normal-print v.$light-border-color-suppressed !important;
    opacity: v.$print-opacity !important;
  }

  .countdown-success {
    border: v.$border-width-prominent-print v.$border-style-soft-print v.$light-border-color-success !important;
    opacity: v.$print-opacity !important;
  }

  .countdown-failure {
    border: v.$border-width-prominent-print v.$border-style-soft-print v.$light-border-color-failure !important;
    opacity: v.$print-opacity !important;
  }

  .countdown-abort {
    border: v.$border-width-prominent-print v.$border-style-soft-print v.$light-border-color-abort !important;
    opacity: v.$print-opacity !important;
  }

  .countdown-suppressed {
    border: v.$border-width-prominent-print v.$border-style-soft-print v.$light-border-color-suppressed !important;
    opacity: v.$print-opacity !important;
  }

  .thread, .thread-header, .thread-spacer {
    display: none !important;
  }

  .log-view .thread.highlighted {
    box-shadow: none !important;
  }
}
