name: JavaCI-PR

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths-ignore:
      - "README.md"
      - "**/README.md"
      - "CODE_OF_CONDUCT.md"
      - "CONTRIBUTING.md"
      - "pull_request_template.md"
      - ".lift/.toml"
      - "**/.lift/.toml"
      - "SECURITY.md"
      - "LICENSE"
      - ".github/**"
      - "!.github/workflows/gradle-ci.yml"
      - "renovate.json"
      - ".whitesource"
      - "config/ossindex/exclusions.txt"
      - ".idea/**"
      - ".gitignore"
      - ".qlty/**"

permissions:
  contents: read

jobs:
  build:
    name: Build
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      # Set up the build environment
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: 17
      - name: Decode key (if Ubuntu)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          mkdir -p ${{ runner.temp }}/.gnupg/
          echo -e "${{ secrets.OSSRH_GPG_SECRET_KEY }}" | base64 --decode > ${{ runner.temp }}/.gnupg/secring.gpg
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          cache-disabled: true
      - name: Build with Gradle (if Ubuntu)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: >
          ./gradlew printVersion build sign sonar
          -Psigning.keyId=${{ secrets.SIGNING_KEY_ID }}
          -Psigning.password=${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}
          -Psigning.secretKeyRingFile=${{ runner.temp }}/.gnupg/secring.gpg
      - name: Build with Gradle (if Windows)
        if: ${{ matrix.os != 'ubuntu-latest' }}
        run: ./gradlew printVersion build
      - name: Clean-up GPG key (if Ubuntu)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          rm -rf ${{ runner.temp }}/.gnupg/
      - name: Upload Test reports - All
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: test-report-abort-mission-${{ matrix.os }}
          path: |
            mission-control/build/reports/tests/test
            boosters/**/build/reports/tests/test
            mission-report/**/build/reports/tests/test
          retention-days: 5
