name: UpdateChecksums
on:
  workflow_dispatch:

permissions: read-all

jobs:
  build:
    name: Dependency checksum compaction action
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@0723195856401067f7a2779048b490ace7a47d7c # v5.0.2
      - name: Set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version: 17
      - name: Remove previous version
        run: cp gradle/verification-metadata-clean.xml gradle/verification-metadata.xml
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@0723195856401067f7a2779048b490ace7a47d7c # v5.0.2
        with:
          cache-disabled: true
      - name: Update checksums
        run: ./gradlew help licensee --write-verification-metadata sha256
      - name: Git commit
        run: |
          git config --global user.name 'Esta Nagy'
          git config --global user.email 'nagyesta@gmail.com'
          git add gradle/verification-metadata.xml
          git commit -asm "Pinning dependency checksums {patch}"
          git push -f --set-upstream origin ${{ github.ref_name }}
